src/main/resources/config-jobs/xml-to-json-events/schemas/events.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Events">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Event" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="eventCode" type="xs:string"/>
              <xs:element name="eventTime" type="xs:string"/>
              <xs:element name="description" type="xs:string"/>
              <xs:element name="sourceSystem" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

